{% extends "til/base.html" %}
{% include static %}
{% block page_body %}
    <body id="landing-body" xmlns="http://www.w3.org/1999/html">
    <div class="container py-4">
        {#    fixme: temporary location for login and signup#}
        <div class="d-flex justify-content-between pb-5">
            {% if user.is_authenticated %}
            	<a class="btn btn-primary" href="{% url 'til:til_logout' %}">logout</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'til:til_login' %}">login</a>
                <a class="btn btn-primary" href="{% url 'til:til_signup' %}">signup</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fw-bold text-center" style="font-size:4rem">tildeblog</h1>
            </div>
            <div class="col-lg-4">
                <form action="{% url 'til:til_landing' %}" method="post">
                    {% csrf_token %}
                    <label class="mb-3 text-center" for="tag-input">Filter by tag (comma seperated)</label>
                    <input class="form-control" type="text" id="tag-input" name="tag-input">
                    <div class="d-flex">
                        <input class="form-control" id="landing-clear-filter-button" type="submit"
                               value="clear filter"/>
                        <input class="form-control" id="landing-apply-filter-button" type="submit"
                               value="apply filter"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main>



    <aside class="left">
        <ul>
            <li>
                <span>
                    <input type="checkbox" name="long_reads" id="long-reads-label">
                    <label for="long-reads-label">Long Reads</label>
                </span>
            </li>
            <li>
                <span>
                    <input type="checkbox" name="recent" id="recent-label">
                    <label for="recent-label">Recent</label>
                </span>
            </li>
            <li>
                <span>
                    <input type="checkbox" name="data_modeling" id="data-modeling-label">
                    <label for="data-modeling-label">Data Modeling</label>
                </span>
            </li>
            <li>
                <span>
                    <input type="checkbox" name="elasticSearch" id="elasticsearch-label">
                    <label for="elasticsearch-label">ElasticSearch</label>
                </span>
            </li>
            <li>
                <span>
                    <input type="checkbox" name="serialization" id="serialization-label">
                    <label for="serialization-label">Serialization</label>
                </span>
            </li>
            <li>
                <span>
                    <input type="checkbox" name="rust" id="rust-label">
                    <label for="rust-label">Rust</label>
                </span>
            </li>
        </ul>
    </aside>

    <section class="main-links">
    <ul class="learnings-list">
        {% for x in learnings %}
            <li>
                <p class="read-length">placeholder</p>
                <p class="read"><a href="{% url 'til:til_show' x.id %}">{{ x.headline }}</a></p>
        <p class="read">
            {% for tag in x.tags %}
                <a href="{% url "til:til_show_tagged" tagstring=tag %}">{{ tag }}</a></a>,
            {% endfor %}
        </p>
            </li>
        {% endfor %}
    </ul>
    </section>
    </main>
    </body>
{% endblock %}
